@reference "./tailwind.css";

@import "@vueup/vue-quill/dist/vue-quill.snow.css";
@import "@vueup/vue-quill/dist/vue-quill.bubble.css";

@reference "./tailwind.css";

.ql-toolbar {
  &.ql-snow {
    @apply border-border rounded-t-md font-sans;
  }
  &.ql-snow {
    .ql-stroke {
      @apply stroke-muted-foreground;
    }
    .ql-fill {
      @apply fill-muted-foreground;
    }
    button {
      @apply hover:bg-muted hover:text-foreground mx-0.5 rounded;
      &:hover {
        .ql-fill {
          @apply fill-foreground;
        }
        .ql-stroke {
          @apply stroke-foreground;
        }
      }
      .ql-stroke {
        @apply stroke-muted-foreground;
      }
      &.ql-active {
        @apply bg-primary text-primary-foreground;
        .ql-stroke {
          @apply stroke-primary-foreground;
        }
        .ql-fill {
          @apply fill-primary-foreground;
        }
      }
    }
    .ql-formats {
      svg,
      .ql-picker-label,
      .ql-picker {
        @apply text-muted-foreground;
      }
      button {
        @apply hover:bg-muted hover:text-foreground mx-0.5 rounded;
        &:hover {
          .ql-fill {
            @apply fill-foreground;
          }
          .ql-stroke {
            @apply stroke-foreground;
          }
        }
        .ql-fill {
          @apply fill-muted-foreground;
        }
        .ql-stroke {
          @apply stroke-muted-foreground;
        }
        &.ql-active {
          @apply bg-primary text-primary-foreground;
          .ql-fill {
            @apply fill-primary-foreground;
          }
          .ql-stroke {
            @apply stroke-primary-foreground;
          }
        }
      }
      .ql-picker {
        @apply rounded;
        .ql-picker-options {
          @apply border-border bg-card mt-1 rounded p-1;
          .ql-picker-item {
            @apply hover:bg-muted hover:text-foreground rounded;
            &.ql-selected {
              @apply bg-primary text-primary-foreground;
            }
          }
        }
      }
      .ql-align,
      .ql-color-picker {
        &:hover {
          .ql-fill {
            @apply fill-foreground;
          }
          .ql-stroke {
            @apply stroke-foreground;
          }
        }
        .ql-picker-options {
          @apply border-border bg-card mt-1 rounded p-1;
          .ql-picker-item {
            &.ql-selected {
              @apply bg-primary text-primary-foreground;
              .ql-stroke {
                @apply stroke-primary-foreground;
              }
            }
          }
        }
      }
      .ql-picker-label {
        @apply hover:bg-muted hover:text-foreground hover:rounded;
        &.ql-active {
          @apply bg-primary text-primary-foreground rounded;
          .ql-stroke {
            @apply stroke-primary-foreground;
          }
        }
      }
      .ql-stroke {
        @apply stroke-muted-foreground;
      }
      .ql-expanded {
        .ql-picker-label {
          @apply border-border rounded;
        }
      }
    }
  }
}

.ql-container {
  @apply focus-within:border-ring! focus-within:ring-ring/50 dark:bg-input/30 min-h-[150px] bg-transparent font-sans text-sm focus-within:ring-[3px];
  &.ql-snow {
    a {
      @apply text-sky-500 hover:text-sky-500;
    }
    @apply border-border rounded-b-md;
  }
  .ql-editor {
    @apply min-h-[150px];
    .ql-font-monospace {
      @apply font-mono;
    }
    &.ql-blank {
      &:before {
        @apply text-muted-foreground not-italic;
      }
    }
  }
  .ql-tooltip {
    @apply border-border bg-card text-card-foreground z-[9999] rounded px-4 py-2 text-sm shadow before:cursor-pointer before:font-medium;
    input[type="text"] {
      @apply border-border bg-muted/30 text-foreground focus:ring-ring h-8 w-[200px] rounded p-2 text-sm focus:ring-1 focus:outline-none;
    }
    .ql-preview {
      @apply text-sm leading-[26px] underline underline-offset-2;
    }
    .ql-remove {
      @apply text-destructive hover:text-destructive;
    }
  }
}

.ql-container.ql-bubble {
  @apply rounded-md border;
  .ql-tooltip {
    @apply border-border bg-card text-card-foreground z-[9999] rounded-lg border px-4 py-2 text-sm shadow before:cursor-pointer before:font-medium;
    input[type="text"] {
      @apply border-border bg-muted/30 text-foreground focus:ring-ring h-8 w-[200px] rounded p-2 text-sm focus:ring-1 focus:outline-none;
    }
    .ql-preview {
      @apply text-sm leading-[26px] underline underline-offset-2;
    }
    .ql-remove {
      @apply text-destructive hover:text-destructive;
    }
    &:not(.ql-flip) .ql-tooltip-arrow {
      @apply border-b-border;
    }
    .ql-toolbar {
      .ql-stroke {
        @apply stroke-muted-foreground;
      }
      .ql-fill {
        @apply fill-muted-foreground;
      }

      button {
        @apply hover:bg-muted hover:text-foreground mx-0.5 rounded;
        &:hover {
          .ql-fill {
            @apply fill-foreground;
          }
          .ql-stroke {
            @apply stroke-foreground;
          }
        }
        .ql-stroke {
          @apply stroke-muted-foreground;
        }
        &.ql-active {
          @apply bg-primary text-primary-foreground;
          .ql-stroke {
            @apply stroke-primary-foreground;
          }
          .ql-fill {
            @apply fill-primary-foreground;
          }
        }
      }
      .ql-formats {
        svg,
        .ql-picker-label,
        .ql-picker {
          @apply text-muted-foreground;
        }
        button {
          @apply hover:bg-muted hover:text-foreground mx-0.5 rounded;
          &:hover {
            .ql-fill {
              @apply fill-foreground;
            }
            .ql-stroke {
              @apply stroke-foreground;
            }
          }
          .ql-fill {
            @apply fill-muted-foreground;
          }
          .ql-stroke {
            @apply stroke-muted-foreground;
          }
          &.ql-active {
            @apply bg-primary text-primary-foreground;
            .ql-fill {
              @apply fill-primary-foreground;
            }
            .ql-stroke {
              @apply stroke-primary-foreground;
            }
          }
        }
        .ql-picker {
          @apply rounded;
          .ql-picker-options {
            @apply border-border bg-card mt-1 rounded border p-1;
            .ql-picker-item {
              @apply hover:bg-muted hover:text-foreground rounded px-1;
              &.ql-selected {
                @apply bg-primary text-primary-foreground;
              }
            }
          }
        }
        .ql-align,
        .ql-color-picker {
          &:hover {
            .ql-fill {
              @apply fill-foreground;
            }
            .ql-stroke {
              @apply stroke-foreground;
            }
          }
          .ql-picker-options {
            @apply border-border bg-card mt-1 rounded border p-1;
            .ql-picker-item {
              &.ql-selected {
                @apply bg-primary text-primary-foreground;
                .ql-stroke {
                  @apply stroke-primary-foreground;
                }
              }
            }
          }
        }
        .ql-picker-label {
          @apply hover:bg-muted hover:text-foreground hover:rounded;
          &.ql-active {
            @apply bg-primary text-primary-foreground rounded;
            .ql-stroke {
              @apply stroke-primary-foreground;
            }
          }
        }
        .ql-stroke {
          @apply stroke-muted-foreground;
        }
        .ql-expanded {
          .ql-picker-label {
            @apply border-border rounded;
          }
        }
      }
    }
  }
}
