@reference "./tailwind.css";

[data-tippy-root] {
  .tippy-box {
    @apply bg-popover text-popover-foreground ring-border rounded-md px-2 py-1 shadow ring-1;
    .tippy-content {
      @apply text-[13px];
    }
  }

  .tippy-box[data-theme~="error"] {
    @apply bg-destructive text-destructive-foreground ring-destructive;
  }
}
